<div class="gradient-custom border">
  <nav class="navbar navbar-dark bg-dark justify-content-between">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="http://localhost:3000">ASAPTICKET</a>
    </li>
    <form class="form-inline">
      <% if current_user %>
        <li class="nav-item">
          <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= button_to 'Sign in', new_user_session_path %>
        </li>
        <li>
          <%= link_to 'Sign up', new_user_registration_path %>
        </li>
      <% end %>
    </form>
  </nav>
</div>