

<body>

<%# Testing Bootstrap %>

<div class="container mt-4 border">
  <div class="container-content">
    <h1 class="m-3">Homepage</h1>
    <div class="m-3">
    <p class=""></p>

<%= render 'shared/alerts' %>
<%= link_to 'Tickets', tickets_path %>
      <%= link_to 'Profile', user_session_path %>

    </div>
  </div>
</div>



</body>